<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Python Validation FastCGI" path="*"
                verb="*" modules="FastCgiModule"
                scriptProcessor="D:\Applications\Validation-Tool\venv\Scripts\python.exe|D:\Applications\Validation-Tool\venv\Lib\site-packages\wfastcgi.py"
                resourceType="Unspecified" 
                requireAccess="Script" />
        </handlers>
        <security>
            <authentication>
                <anonymousAuthentication enabled="false" />
                <windowsAuthentication enabled="true" />
            </authentication>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="30000000" />
            </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS redirect"
                      stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}"
                             pattern="off"
                             ignoreCase="true" />
                    </conditions>
                    <action type="Redirect"
                            url="https://{HTTP_HOST}/{R:1}"
                            redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <fastCgi>
            <application fullPath="D:\Applications\Validation-Tool\venv\Scripts\python.exe" arguments="D:\Applications\Validation-Tool\venv\Lib\site-packages\wfastcgi.py" />
        </fastCgi>

    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="D:\Applications\Validation-Tool" />
        <add key="WSGI_HANDLER" value="webapp.app" />
        <add key="WSGI_LOG" value="D:\Applications\Validation-Tool\logs\backend.log" />
        <add key="WSGI_RESTART_FILE_REGEX" value=".*((.py)|(.config))$" />
        <add key="FLASK_ENV" value="production" />
    </appSettings>
</configuration>